@if (currentUser && !loadingUserInformation) {
<p-card [header]="currentUser.username">
  <p-header>
    <img
      [src]="currentUser.profileImageUrl"
      alt="Profile Photo"
      class="profile-photo"
    />
    <div class="follow-info">
      <app-follow-button
        [userId]="userId"
        (follow)="addFollower()"
        (unfollow)="removeFollower()"
      ></app-follow-button>
      <div class="follow-counts">
        <p>
          <a (click)="showFollowsDialog()">
            <strong> {{ followersCount }} Followers </strong>
          </a>
        </p>
        <p>
          <a (click)="showFollowsDialog()">
            <strong> {{ followingCount }} Following </strong>
          </a>
        </p>
      </div>
      @if ( currentUser.id !== loggedInUser?.id && loggedInUser) {
      <div>
        <button pButton [routerLink]="['/messages/', userId]">Send Message</button>
      </div>
      }
    </div>
  </p-header>
  <div class="container">
    <p><strong>Name:</strong> {{ currentUser.firstName }}</p>
  </div>
</p-card>
} @if(currentUser) {
<p-tabView>
  <p-tabPanel
    [header]="
      currentUser.username === loggedInUser?.username ? 'My Posts' : 'Posts'
    "
  >
    <app-posts
      [posts]="userPosts"
      [loading]="loading"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="5"
      (scrolled)="onScroll()"
      [loading]="loading"
      [infiniteScrollDisabled]="allPostsLoaded"
    ></app-posts>
  </p-tabPanel>
</p-tabView>
} @else {
<div class="spinner-container">
  <div class="spinner"></div>
</div>
}

<p-dialog
  [(visible)]="displayFollowsDialog"
  [modal]="true"
  [baseZIndex]="10000"
  [dismissableMask]="true"
  styleClass="follow-dialog"
>
  <app-follows [userId]="userId" (closeDialog)="closeDialog()"></app-follows>
</p-dialog>
