@if (currentUser) {
<p-card [header]="currentUser.username">
  <p-header>
    <img
      [src]="currentUser.profilePhoto"
      alt="Profile Photo"
      class="profile-photo"
    />
  </p-header>
  <div class="container">
    <p><strong>Name:</strong> {{ currentUser.firstName }}</p>
  </div>
</p-card>

} @if( currentUser) {

<p-tabView>
  <p-tabPanel header="My Posts">
    @for (post of userPosts; track $index) {
    <p-card styleClass="postsCard" [style]="{}">
      <p-header>
        <!-- <div class="user-info">&#64;{{ post.user?.username }}</div> -->
        <h2>{{ post.title }}</h2>
      </p-header>
      <p>{{ post.content }}</p>
      <!-- Future features -->
      <!-- <p>Comments: {{ post.comments.length }}</p>
              <p>Likes: {{ post.likes }}</p> -->
    </p-card>
    }
  </p-tabPanel>
  <!-- <p-tabPanel header="Shared Posts"> -->
  <!-- <p-card *ngFor="let post of currentUser.sharedPosts">
      <p-header>{{ post.title }}</p-header>
      <p>{{ post.content }}</p>
    </p-card> -->
  <!-- </p-tabPanel> -->
</p-tabView>
}
