<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="5"
  (scrolled)="onScroll()"
>
  @for (post of randomPosts; track $index) {
  <div>
    <p-card styleClass="postsCard" [style]="{}">
      <p-header>
        <!-- <div class="user-info">&#64;{{ post.user?.username }}</div> -->
        <h2>{{ post.title }}</h2>
      </p-header>
      <p>{{ post.content }}</p>
      <!-- Future features -->
      <!-- <p>Comments: {{ post.comments.length }}</p>
          <p>Likes: {{ post.likes }}</p> -->
    </p-card>
  </div>
  } @if (loading) {
    <div class="spinner-container">
      <p-progressSpinner></p-progressSpinner>
    </div>
  }
</div>
