<form [formGroup]="postForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      pInputText
      placeholder="Enter title"
      formControlName="title"
      class="form-control"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Optional</small
    >
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      formControlName="content"
      placeholder="Enter content"
      rows="3">
    </textarea>
  </div>
  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  <p-button [label]="'submit' | translate"></p-button>
</form>
