<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">{{ "title" | translate }}</label>
    <input
      type="text"
      pInputText
      placeholder="{{ 'enterTitle' | translate }}"
      formControlName="title"
      class="form-control"
    />
    <small id="emailHelp" class="form-text text-muted">{{
      "optional" | translate
    }}</small>
  </div>
  <div class="form-group">
    <label for="content">{{ "content" | translate }}</label>
    <textarea
      class="form-control"
      id="content"
      formControlName="content"
      placeholder="{{ 'enterContent' | translate }}"
      rows="3"
      (focus)="submitting = false"
    >
    </textarea>
    @if (postForm.get('content')?.invalid && submitting) {
    <div class="error">
      {{ "form.error.required" | translate }}
      <!-- {{ postForm.get('content')?.errors | json }} -->
    </div>
    }
  </div>
  <p-button [label]="'submit' | translate" type="submit"></p-button>
</form>
