/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-dark-blue/theme.css";
// @import "./dark.scss";
@import "primeng/resources/primeng.css";
@import "ngx-toastr/toastr";

@import "styles/globat-shared-styles.scss";

.container {
  display: flex;
  justify-content: space-between;
}

.container .section-center {
  width: 80%; /* Adjust as needed */
}

.container .section-left {
  width: 32%; /* Adjust as needed */
  padding: 0 15px; /* Adds some padding on the sides */
  // border: 1px solid #ccc; /* Adds a border */
}
.container .section-right {
  width: 32%; /* Adjust as needed */
  padding: 0 15px; /* Adds some padding on the sides */
  // border: 1px solid #ccc; /* Adds a border */
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .container .section-center {
    width: 100%; /* Takes up the full width on mobile devices */
  }
  .container .section-left {
    display: none;
  }
  .container .section-right {
    display: none;
  }
}
