/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-dark-blue/theme.css";
// @import "./dark.scss";
@import "primeng/resources/primeng.css";
@import "ngx-toastr/toastr";

// component styles
@import "./app/nav-bar/nav-bar.component.scss";
@import "./app/posts/posts.component.scss";

// variables
@import "./variables.scss";
/* Set the font for the entire application */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Set the primary color for the entire application */
.primary-color {
  color: $primary-color;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container .section-center {
  width: 80%; /* Adjust as needed */
}

.container .section-left {
  width: 20%; /* Adjust as needed */
  padding: 0 15px; /* Adds some padding on the sides */
  // border: 1px solid #ccc; /* Adds a border */
}
.container .section-right {
  width: 20%; /* Adjust as needed */
  padding: 0 15px; /* Adds some padding on the sides */
  // border: 1px solid #ccc; /* Adds a border */
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .container .section-center {
    width: 100%; /* Takes up the full width on mobile devices */
  }
  .container .section-left {
    display: none;
  }
  .container .section-right {
    display: none;
  }
}

button {
  border-radius: 1rem;
}

.test {
  border-radius: 2rem;
}

a {
  color: inherit;
  text-decoration: none; // Optional: This will remove the underline from the links
}

p-button {
  border-radius: 12rem;
}

.pi {
  margin: 0 .5rem;
}