<div class="comments-section">
  @if (isLoggedIn) {
  <div class="add-comment">
    <textarea
      [(ngModel)]="newComment"
      placeholder="Add a comment..."
    ></textarea>
    <button (click)="addComment()">Submit</button>
  </div>
  } @for (comment of comments; track $index) {
  <div class="comment">
    <div class="comment-header">
      @if (comment.user) { &#64;<a
        [routerLink]="['/profile/user', comment.user.id]"
        >{{ comment.user.username }}</a
      >
      }
    </div>
    <div class="comment-body">
      <p>{{ comment.content }}</p>
    </div>
    <div class="comment-footer">
      <small>{{ comment.createdAt | date }}</small>
      @if(isLoggedIn) {
        <button (click)="toggleReplyForm(comment)">Reply</button>
      }
    </div>
    <div class="replies">
      <div *ngFor="let reply of comment.childComments" class="reply">
        <div class="reply-header">
          &#64;<a [routerLink]="['/profile/user', reply.user.id]">{{
            reply.user.username
          }}</a>
        </div>
        <div class="reply-body">
          <p>{{ reply.content }}</p>
        </div>
        <div class="reply-footer">
          <small>{{ reply.createdAt | date }}</small>
        </div>
      </div>
      <div *ngIf="comment.showReplyForm" class="add-reply">
        <textarea
          [(ngModel)]="comment.newReply"
          placeholder="Reply to this comment..."
        ></textarea>
        <button (click)="addReply(comment)">Submit</button>
      </div>
    </div>
  </div>
  }
</div>
